#include "uLanguage.pas"
LANGUAGE LANG_RUSSIAN,1
STRINGTABLE
{
  c_ErrPrepareNode,  "Ошибка обработки узла %s"
  c_ErrCompNodes, "Узел не является узлом %s"
  c_ErrWriteNode, "Ошибка записи данных для узла %s"
  c_ErrReadNode, "Ошибка чтения данных из узла %s"
  c_ErrMissValue, "Недопустимое значение атрибута для узла %s"
  c_ErrMissAgrument, "Недопустимый аргумент в вызове функции"
  c_UnUsedTag, "Неучтенный тэг "
  c_DuplicateLink, "Такая ссылка уже есть в списке"
  c_WrongAttr, "Неверное значение атрибута %s"
  c_RightAttrValues, "Допустимые значения атрибута: %s"
  c_ErrCGroupCreate,"Пустой XML-документ. Чтение групп контактов прервано"
  c_ErrNullAuth, "Параметр Auth не может быть пустым"
  c_ErrFileName, "Файл %s отсутствует"
  c_ErrSysGroup, "Невозможно редактировать системную группу"
  c_ErrGroupLink, "Группа не содержит информации об URL для редактирования и удаления. Выполнение операции прервано."

  c_Work, "рабочий"
  c_Home, "домашний"
  c_FreeBusy, "сободен-занят"

  c_AccId, "Индентификатор аккаунта"
  c_AccCostumer, "Идентификатор контактного лица"
  c_AccNetwork, "Сетевой идентификатор"
  c_AccOrg, "Идентификатор организации"

  c_EvntAnniv, "Юбилей"
  c_EvntOther, "Другой"

  c_Male, "Мужской"
  c_Female, "Женский"

  c_JotHome, "Дома"
  c_JotWork, "На работе"
  c_JotOther, "Другое"
  c_JotKeywords, "Ключевые слова"
  c_JotUser, "Пользователь" 

  c_PriorityLow, "Низкий"
  c_PriorityNormal, "Нормальный"
  c_PriorityHigh, "Высокий"

  c_RelationAssistant, "Помощник"
  c_RelationBrother, "Брат"
  c_RelationChild, "Ребенок"
  c_RelationDomestPart, "Сосед"
  c_RelationFather, "Отец"
  c_RelationFriend, "Друг"
  c_RelationManager, "Начальник"
  c_RelationMother, "Мать"
  c_RelationPartner, "Партнер"
  c_RelationParent, "Родитель"
  c_RelationReffered, "Знакомый"
  c_RelationRelative, "Отношение"
  c_RelationSister, "Сестра"
  c_RelationSpouse, "Супруга"

  c_SensitivConf, "Конфиденциальный"
  c_SensitivNormal, "Обычный"
  c_SensitivPersonal, "Персональный"
  c_SensitivPrivate, "Частный"

  c_SysGroupContacts, "Контакты"
  c_SysGroupFriends, "Друзья"
  c_SysGroupFamily, "Семья"
  c_SysGroupCoworkers, "Сотрудники"

  c_WebsiteHomePage, "Домашняя страница"
  c_WebsiteBlog, "Блог"  
  c_WebsiteProfile, "Профиль"
  c_WebsiteHome, "Личный сайт"
  c_WebsiteWork, "Рабочий сайт"
  c_WebsiteOther, "Другой"
  c_WebsiteFtp, "FTP-сайт" 

  c_EventCancel, "Отменено"
  c_EventConfirm, "Запланировано"
  c_EventTentative, "Предварительно запланировано"

  c_EventConfident, "Конфеденциально"
  c_EventDefault, "По умолчанию"
  c_EventPrivate, "Скрыто"
  c_EventPublic, "Публично" 

  c_EventOpaque, "Не отмечать в календаре"
  c_EventTransp, "Отмечать в календаре"

  c_EventOptional, "Опционально"
  c_EventRequired, "Требуется"

  c_EventAccepted, "Подтвержден"
  c_EventDeclined, "Понижен"
  c_EventInvited, "Приглашен"
  c_EventTentativ, "Принят предварительно"

  c_EmailHome, "Домашний"
  c_EmailOther, "Другой"
  c_EmailWork, "Рабочий"

  c_ImHome, "Домашний"
  c_ImNetMeeting, "NetMeeting"
  c_ImOther, "Другой"
  c_ImWork, "Рабочий"

  c_PhoneAssistant,"Вспомогательный"
  c_PhoneCallback,"Автоответчик"
  c_PhoneCar,"Автомобильный" 
  c_PhoneCompanymain,"Рабочий сновной"
  c_PhoneFax,"Факс"
  c_PhoneHome,"Домашний"
  c_PhoneHomefax,"Домашний факс"
  c_PhoneIsdn,"ISDN"
  c_PhoneMain,"Основной"
  c_PhoneMobile,"Мобильный"
  c_PhoneOther,"Другой"
  c_PhoneOtherfax,"Факс (другой)"
  c_PhonePager,"Пэйджер"
  c_PhoneRadio,"Радиотелефон"
  c_PhoneTelex,"Телекс"
  c_PhoneTtytdd,"IP-телефон"
  c_PhoneWork,"Рабочий"
  c_PhoneWorkfax,"Рабочий факс"
  c_PhoneWorkmobile,"Рабочий мобильный"
  c_PhoneWorkpager,"Рабочий пэйджер"

}